
  .accordion {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .accordion_1 {
    height: auto;
    width: 30%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .accordion_1::-webkit-scrollbar {
    display: none;
  }
  
  .accordion_parent {
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .accordion_1 li {
    list-style: none;
    
  }
  
  .accordion-content {
    padding: 10px;
    max-height: 0;
    height: auto;
  }
  @keyframes expandAccordion {
    0% {
      max-height: 0;
      opacity: 0;
    }
    100% {
      max-height: 300px;
      opacity: 1;
    }
  }
  .accordion-content.open {
    max-height: 300px;
    animation: expandAccordion 0.8s ease-out;
  }
  